<div class="container">
  <div class="form">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <hr>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.input :email, required: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
<hr>
        <span class="form-hint"> Leave blank if you don't want to change it</span>
        <%= f.input :password, autocomplete: "off", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <hr>
        <%= f.input :current_password, hint: "enter current password to confirm changes", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
<br>
<br>
<br>
<br>
<hr>
    <p <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, :class => 'delete-account', method: :delete %> </p>
    <br>
  </div>
</div>