<br>
<br>
<br>

<div class="album text-muted col-md-12 row">  
  <% @post.each do |p| %>
    <div class="posts col-md-4">
      <%= link_to p  do %>
        <%= image_tag p.image.url(:small) %>
      <% end %>
      <br>
      <%= link_to p.title, p %>
        <p> <%= p.get_upvotes.size %> </p: 
        <%= link_to "Like", like_post_path(p), method: :get %>
        <p> <%= p.get_downvotes.size %> </p>:
        <%= link_to "Dislike", dislike_post_path(p), method: :get %>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <br>
    </div>
  <% end %>
</div>
