<br>
<div class="album text-muted col-md-12 row"> 
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Videos</h4>
        <p class="card-text">Watch recommended tutorial videos</p>
      </div>
    </div>
  </div>
    <div class="col-md-4 col-sm-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Articles</h4>
        <p class="card-text">Read articles and documentations</p>
      </div>
    </div>
  </div> 
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Events</h4>
        <p class="card-text">Find events going on in your community</p>
      </div>
    </div> 
  </div>
</div>

<br>
<br>

<div class="album text-muted col-md-12 row"> 
  <% @post.each do |p| %>
    <div class="posts col-md-7">
<!--         <%= link_to p  do %>
          <%= image_tag p.image.url(:small) %>
        <% end %> -->
      <br>
      <h3 class="text-muted"><%= link_to p.title, p, class: "post-title" %></h3>
      <p class="card-text post-text"><%= p.description %></p>
      <p class="card-text post-text">By: <%= p.user.name %></p>
      <hr>
      <%= link_to like_post_path(p), :method => :get do %>
        <i class="material-icons thumb">thumb_up</i>
        <span><%= p.get_upvotes.size %></span>
      <% end %>
      <%= link_to dislike_post_path(p), :method => :get do %>
        <i class="material-icons thumb">thumb_down</i>
        <span><%= p.get_downvotes.size %></span>
      <% end %>
      <br>

    </div>
  <% end %>
</div>
