<div class="album text-muted col-md-12 row"> 
  <% @post.each do |p| %>
    <div class="posts col-md-7">
<!--         <%= link_to p  do %>
          <%= image_tag p.image.url(:small) %>
        <% end %> -->
      <br>
      <h3 class="text-muted"><%= link_to p.title, p, class: "post-title" %></h3>
      <p class="card-text post-text"><%= p.description %></p>
      <p class="card-text post-text">By: <%= p.user.name %></p>
      <hr>
        <span class="card-text post-text">Like: <%= p.get_upvotes.size %></span>
        <span class="card-text post-text">Dislikes: <%= p.get_downvotes.size %></span>
        <span class="card-text post-text">Comments: <%= p.comments.count %></span>
      <br>
    </div>
  <% end %>
</div>